

body {
    display: flex;
}

/* LHS logo and background */
@font-face {
    font-family: custom-font;
    src: url(/fonts/Star\ Choco.ttf);
  }

.image-background {
    flex: 1;
    height: 100vh;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: 33vw auto;

    display: flex;
    flex-direction: column;
}

.banner {
    background:rgba(255,255,255,0.2);
    height: 20vh;
    margin-top: 25vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-logo-cat,
.banner-slogan {
    opacity: 1;
}

.banner-logo-cat {
    mix-blend-mode: multiply;
    height: 30vh;
    width: auto;
}

.banner-slogan {
    font-family: custom-font;
    font-size: 5rem;
}

/* RHS sign up form */
.sign-up {
    flex: 2;
    padding-left: 3vw;
    padding-right: 3vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

p {
    font-family: sans-serif, cursive;
    font-size: 2rem;;
    font-weight: bold;
}

/* form styling */
button, label, input {
    display: block;
    font-family: inherit;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 20vw;
    padding: 5px;
    height: 30px;
}

.sign-up-form {
    display: flex;
    flex-flow: row wrap;
    padding: 15px;
}

.sign-up-form input[type="text"],
.sign-up-form input[type="email"],
.sign-up-form input[type="number"],
.sign-up-form input[type="password"] {
    background-color: #fff;
    border: 1px solid #d8d8d8;
    padding: 24px 10px 12px;
    font-size: 100%;
}

.sign-up-form.sign-up-button {
    display: block;
}